* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-about {
  width: 100%;
  min-height: 83vh;
  position: relative;
  background-image: url("background/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-about .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11vh;
  padding-top: 1rem;
}

.about-section .heading {
  font-family: Techno, Impact, sans-serif;
  font-size: 30px;
}

.about-section .heading span:nth-child(1) {
  color: #Ff8c00;
}

.about-section .line-1 {
  position: relative;
  margin: auto;
  width: 65%;
  height: 4px;
  background-color: #Ff8c00;
  margin-top: 1rem;
}

.about-section .main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-top: 2rem;
}

.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.why .alasan-container, .contact-container .contact {
  margin-top: 3rem;
  width: 80%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.contact-container .contact img {
  height: 2.5rem;
}
