* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11vh;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.main-content h2 {
  color: #Ff8c00;
}

.main-content p {
  text-align: center;
  width: 60%;
  margin-top: 1rem;
}

.main-content .button {
  padding: 3rem 0;
  width: 10%;
  display: flex;
  flex-direction: row;
}

.main-content .button button {
  color: #Ff8c00;
  background-color: #ffffff;
  border: 2px solid #Ff8c00;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  transition: all 0.3s ease;
}

.main-content .button button.active {
  color: #ffffff;
  background-color: #Ff8c00;
}

.main-content .button button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #Ff8c00;
}

.main-content .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5rem;
  gap: 2rem;
  margin-bottom: 4rem;
  animation: slide-up 1.2s ease;
}

.main-content .cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 251px;
  height: 346px;
  background: linear-gradient(
    153deg,
    #ffffff -21.19%,
    rgba(208, 208, 208, 0) 111.31%
  );
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.main-content .cards .card img {
  margin-top: 2rem;
  max-width: 100%;
  height: 170px;
  object-fit: contain;
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0.25, 0.25));
  <a href="index.html">
}

.main-content .cards .card p {
  font-weight: 700;
  margin-top: 35px;
  width: 10rem;
}

.main-content .cards .card .harga {
  margin-top: 1rem;
  font-size: 15px;
  width: 100%;
}

.main-content .cards .card .tekan {
  background: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

#motor {
  display: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
