nav {
  display: flex;
  top: 0;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.75);
  position: fixed;
  background-color: #ffff;
  z-index: 999;
}

#menu-togle,
.menu-btn {
  display: none;
}

button.order {
  background-color: #Ff8c00;
  border: 0;
  color: #ffffff;
  border-radius: 8px;
  width: 7rem;
  height: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  transition: all 0.2s ease;
}
button.order:hover {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
}

.navbar-logo {
  font-family: Techno, Impact, sans-serif;
  font-size: 45px;
  margin-left: 60px;
}

.navbar-logo span {
  color: #Ff8c00;
}
.navbar-text {
  align-items: center;
  padding-right: 20px;
}
.navbar-text a.active {
  font-weight: 800;
}

.navbar-text a {;
  font-size: 17px;
  margin: 4px;
  padding: 2px;
  text-decoration: none;
  color: #696969;
  transition: font-weight 0.2s ease-in-out;
}

.navbar-text a:hover {
  font-weight: 900;
}

.navbar .navbar-text a:hover:after {
  width: 100%;
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  height: 46px;
  color: #fff;
  background-color: #656565;
}

footer p span {
  color: #Ff8c00;

}