* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
  color: #000000;
}
.main-content {
  width: 100%;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderform {
  width: 60%;
  height: 25rem;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-left: 20px;
  margin-top: 10px;
  font-family: Techno, Impact, sans-serif;
  font-size: 40px;
}

.logo span:nth-child(1) {
  color: #Ff8c00;
}
.logo span:nth-child(2) {
  color: white;
}

.orderform .input {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  padding: 20px 2px 0 20px;
}

.orderform  input {
  margin: 12px 0;
  padding: 8px;
} 

#submit {
  background-color: #Ff8c00;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  margin-top: 1rem;
}
