* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.landing-page-slider {
  margin-top: 8vh;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  background-image: url('background.jpg');
  background-size: cover;
}

.image-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2.5rem;
}

.image-slider .slide {
  z-index: 0;
}

.image-slider .slide.active {
  width: fit-content;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
}

.image-slider .slide.active img {
  height: 23rem;
}

.image-slider img {
  max-width: 100%;
  height: 20rem;
  border-radius: 0.8rem;
}

.main-content .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.main-content .about-section .heading {
  text-align: center;
  font-weight: 500;
  color: #000000;
}

.main-content .about-section .heading span:nth-child(1) {
  color: #Ff8c00;
  font-weight: 900;
}
.main-content .about-section .heading span:nth-child(2) {
  font-weight: 600;
}
.main-content .about-section .heading span:nth-child(3) {
  font-size: 80%;
}

.main-content .about-section .line-1 {
  position: relative;
  margin: auto;
  width: 55%;
  height: 4px;
  background-color: #Ff8c00;
  margin-top: 10px;
}

.main-content .about-section .main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 70%;
  margin-top: 2rem;
}

.main-content .about-section button {
  color: #Ff8c00;
  background-color: #ffffff;
  border: 2px solid #Ff8c00;
  border-radius: 20px;
  margin-top: 1rem;
  width: 180px;
  height: 35px;
  transition: all 0.2s ease;
}

.main-content .about-section button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #Ff8c00;
}

.main-content .catalog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.main-content .catalog-section h2 {
  color: #Ff8c00;
}

.main-content .catalog-section .line-2 {
  position: relative;
  margin: auto;
  width: 78px;
  height: 4px;
  background-color: #Ff8c00;
  margin-top: 10px;
}

.main-content .catalog-section p {
  text-align: center;
  width: 45%;
  margin-top: 1rem;
}

.main-content .catalog-section .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 3rem;
}

.main-content .catalog-section .cards .card {
  display: flex;
  align-items: center;
  width: 450px;
  height: 300px;
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0.15, 0.15));
}

.main-content .catalog-section .cards .card img {
  margin-top: 2rem;
  max-width: 100%;
  height: 300px;
  object-fit: contain;
}

.main-content .catalog-section button {
  color: #Ff8c00;
  background-color: #ffffff;
  border: 2px solid #Ff8c00;
  border-radius: 20px;
  width: 180px;
  height: 35px;
  transition: all 0.2s ease;
  margin-top: 2rem;
}

.main-content .catalog-section button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #Ff8c00;
}

